@import './Consts';
.Application {
  padding: 10px;
  color: $grey;
  * {
    outline-color: $violet;
  }
}

.name-wrapper {
  margin-bottom: 25px;
}
.header {
  margin: -10px;
  margin-bottom: 25px;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  a, p {
    margin: 0;
  }
  .home {
    display: flex;
    align-items: center;
    img {
      width: 25px;
    }
  }
  .new-paste-link {
    color: $red;
    text-align: right;
  }
}
.home-page {
  h2 {
    margin-top: 50px;
  }
  .paste-link {
      margin: 25px 0;

    a {
      color: $blue;
      margin: 5px 0;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }

    p {
      margin: 5px 0;

      font-size: 10pt;
    }
  }
}

.sheduler.select {
  display: block;
  margin: 25px 0;
  min-width: 100px;
  font-size: 12pt;
}
.textarea {
  width: 100%;
  min-height: 300px;
}

.button {
  min-width: 100px;
  height: 50px;
  border: none;
  border-radius: 5px;
  font-size: 12pt;
  text-transform: uppercase;
  background: $blue;
  color: $white;

  &:active {
    opacity: .7;
  }

  &.success {
    background: $green;
  }

  &.danger {
    background: $red;
  }
}

.pretty-paste {
  width: 100%;
  overflow: auto;
  overflow-y: hidden;
  white-space: nowrap;

  .line {
    font-size: 8pt;
    height: $paste-line-height;
    margin: 0;
    display: flex;
    align-items: center;
    .number {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding: 5px;
      min-width: 30px;
      margin-right: 15px;
      height: $paste-line-height;
      text-align: right;
      font-family: monospace;
      user-select: none;
      background: $color-line-number;
      color: $grey;
      border-right: 1px solid $grey;
    }
    &:nth-child(odd) {
      background: $odd-line;
    }
    .pre {
      flex:100;
      margin: 0;

    }
  }
}

.raw-paste {
  margin-top: 25px;
  .textarea {
    width: 100%;
    overflow: auto;
    white-space: nowrap;
  }
}

