/* RGB */
$color1: rgba(255, 89, 94, 1);
$color2: rgba(255, 202, 58, 1);
$color3: rgba(138, 201, 38, 1);
$color4: rgba(25, 130, 196, 1);
$color5: rgba(106, 76, 147, 1);

$red: $color1;
$orange: $color2;
$green: $color3;
$blue: $color4;
$violet: $color5;
$white: #FFF;
$grey: #444140;

$odd-line: rgba(0, 0, 200, .05);
$color-line-number: rgba(230, 230, 230, 1);

$paste-line-height: 20px;
